<!doctype html>
<title>MPROP Example with Crystal</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/app.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
<div id="app" class="container">
  <%= MPropSearch.new %>
</div>
<%= LiveView.javascript_tag %>
